@charset "utf-8";
/* CSS Document */

/* CSS Document © 2023 ProWeb Prism */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

::-moz-selection{ background:#7b7d7f; color:#ffffff; text-shadow:none;}
::selection { background:#7b7d7f; color:#ffffff; text-shadow:none;}
*,
*:before, *:after{-webkit-box-sizing:  border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video, textarea, input { margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; outline:none; font-family: 'Roboto', sans-serif;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body {color:#504f50; -webkit-text-size-adjust: none; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; text-rendering: optimizeLegibility; overflow:hidden;}
:root { overflow-y: scroll;}
html.cl-loaded.menu-came-in { overflow: hidden;}
a { text-decoration:none; transition:all 0.25s ease-out 0s;}
a:hover { text-decoration:none; transition:all 0.25s ease-out 0s;}
p, p span { font-family: 'Roboto', sans-serif;}
img { border:0px;}
ol, ul, li{ list-style: none;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
* {-webkit-appearance: none;
}::-webkit-input-placeholder {
  color:#ffffff;
}
::-moz-placeholder { 
  color:#ffffff;
}
:-ms-input-placeholder {
  color:#ffffff;
}
:-moz-placeholder {
  color:#ffffff;
}

section{width: 100%; float: left;}
img{max-width: 100%;}

.common-anchor{position: absolute;width: 100%;height: 100%;display: block;left: 0;top: 0;}

/* --------------------------header------------------------ */

.so-container{ max-width: 1336px;margin: 0 auto; padding: 0px 15px; width: 100%; overflow: hidden; position: relative;}
.hedaer-sec{padding: 40px 0px; display: flex; align-items: baseline;}
.hedaer-sec .logo-sec{ margin: 0 auto; text-align: center;}
.hedaer-sec .logo-sec h1{color: #02427d; font-weight: 700; font-size: 30px; margin-top: 15px; font-family: 'Roboto', sans-serif;}
.hedaer-sec .logo-sec img{ width: 100px; height: auto;}
.hedaer-sec .time-sec h3{ color: #02427d; font-size: 18px; text-align: center;margin-bottom: 25px; font-family: 'Roboto', sans-serif; font-weight: 500;}
.arrow {border: solid rgb(255, 255, 255); border-width: 0 2px 2px 0; display: inline-block; padding: 4px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transition: 0.3s all ease-in-out;}
.hedaer-sec .time-sec .req-form{border:1px solid #02427d; padding: 16px 24px; border-radius: 10px;  text-align: center;  background-color: #02427d; transition: 0.3s all ease-in-out; width: 200px;}
.hedaer-sec .time-sec .req-form a{font-size: 16px; text-decoration: none; margin-bottom: 0; color: #ffffff; font-weight: 600; transition: 0.3s all ease-in-out; font-family: 'Roboto', sans-serif;}
.hedaer-sec .time-sec .req-form:hover{background-color: transparent;  }
.hedaer-sec .time-sec .req-form:hover a{ color: #02427d;}
.hedaer-sec .time-sec .req-form:hover .arrow{border: solid #02427d; border-width: 0 2px 2px 0; transform: rotate(-45deg)translate(5px,5px);}
.hedaer-sec .cont-sec a{text-decoration: none;color: #02427d; font-weight: 500;font-size: 18px;font-family: 'Roboto', sans-serif;}
.hedaer-sec .cont-sec a:hover{color: #02427d;}
.hedaer-sec .cont-sec a span svg{ width: 25px;margin-right: 5px; height: auto;}
.hedaer-sec .cont-sec a span svg g path{transition: 0.3s all ease-in-out;}
.hedaer-sec .cont-sec .call-btn:hover a span svg g path{ fill: #02427d;}
.hedaer-sec .cont-sec .call-btn{ border:1px solid #02427d; padding: 16px 24px; border-radius: 10px;text-align: center; background-color: #02427d; transition: 0.3s all ease-in-out; width: 200px;margin-left: auto;}
.hedaer-sec .cont-sec .call-btn a{font-size: 16px; text-decoration: none; margin-bottom: 0; color: #ffffff; font-weight: 600;transition: 0.3s all ease-in-out; font-family: 'Roboto', sans-serif;}
.hedaer-sec .cont-sec .call-btn:hover a{background-color: transparent;  color: #02427d;}
.hedaer-sec .cont-sec .call-btn:hover{ background-color: #ffffff;}
.hedaer-sec .cont-sec .mail{ margin-bottom: 20px;}
.menu-sec{padding: 10px; background-color: #02427d; color: #ffffff; text-align: center;transition: 0.3s all ease-in-out;}
.menu-sec ul li a:hover{color: black;}
.menu-sec .nav.nav-pills{justify-content: center;}
.menu-sec ul li a{ color: #ffffff;text-decoration: none; margin-bottom: 0; font-weight: 500; font-size: 14px; margin: 0px 20px; font-family: 'Roboto', sans-serif; margin: 0px 5px;}
.nav-link:focus{ color: black !important;}
.menu-sec .nav-item.dropdown .dropdown-menu{ width: 200px;}
.menu-sec .nav-item.dropdown .dropdown-menu .dropdown-item{ color: #02427d; width: auto; font-family: 'Roboto', sans-serif; margin-bottom: 10px; position: relative; font-size: 14px;  padding-bottom: 8px;}
.menu-sec .nav-item.dropdown .dropdown-menu .dropdown-item::after{ position: absolute; content: ""; background-color: #02427d; width: 0%; bottom: 0; left: 5%; height: 1px; transition: 0.3s all ease-in-out;}
.menu-sec .nav-item.dropdown .dropdown-menu .dropdown-item:hover{background: transparent;}
.menu-sec .nav-item.dropdown .dropdown-menu .dropdown-item:hover::after{width: 90%;}


/*-----------------slider-sec---------------------- */
.banner-sec {position: relative;}
.banner-sec .bannerSwiper .swiper-slide{padding: 80px 0px;background-image: url("../images/borewell-drilling-services.jpg");background-position: center center;background-repeat: no-repeat;background-size:cover; position: relative;}
.banner-sec .bannerSwiper .slider-content {max-width:600px;z-index: 6;background-color: rgba(255, 255, 255, 0.9);padding: 60px;border-radius: 20px;}
.banner-sec .bannerSwiper .slider-content h4{font-weight: 400; position: relative;color: #08b7d5;font-size: 25px;font-family: 'Roboto', sans-serif;}
.banner-sec .bannerSwiper .slider-content h4::before{position: absolute;content: "";background-image: url("../images/shape-headline.svg");width: 50px;height: 10px;top: -25px;left: 0; background-repeat: no-repeat;}
.banner-sec .bannerSwiper .slider-content h2{font-size: 50px;margin-top: 15px;font-weight: 500;font-family: 'Roboto', sans-serif;color:#02427d;}
.banner-sec .bannerSwiper .slider-content p{color: #000000;font-size: 16px;line-height: 24px; margin-top: 20px;font-weight: 400;font-family: 'Roboto', sans-serif;}
.banner-sec .bannerSwiper .slider-content a{margin-top: 20px; color: #fff;display: block;width: fit-content;background: #02427d;padding: 16px 24px;font-weight: 600;transition: 0.3s all ease-in-out;border-radius: 10px;border: 1px solid #02427d;}
.banner-sec .bannerSwiper .slider-content a:hover{background-color: transparent;color: #02427d;}
.banner-sec .intro-video {position: absolute; right: 10%;top: 35%;transform: translateY(-50%);z-index: 9;}
.banner-sec .intro-video .video-play-button {position: relative; left: inherit; top: inherit; transform: none;}
.banner-sec .intro-video .intro-video-title { display: inline-block; color: #fff; font-size: 16px; margin: 17px 0 0 17px; font-weight: 700;}



/* ----------------abouts-wrapp------------------- */

.abouts-wrapp {padding: 114px 0 80px;position: relative;}
.abouts-wrapp .abouts-content {width: 100%; display: flex; flex-wrap: wrap;justify-content: space-between; align-items: center;}
.abouts-wrapp .abouts-content .abouts-col1 { width: 43%;}
.abouts-wrapp .abouts-content .abouts-col2 { width: 48%;}
.abouts-wrapp .abouts-content .abouts-col2 h2 { font-size: 32px; font-weight: 600; color: #02427d; margin: 0 0 20px;}
.abouts-wrapp .abouts-content .abouts-col2 p { font-size: 16px; color: #000000; line-height: 24px; margin: 0 0 15px;}
.abouts-wrapp .abouts-content .abouts-col1 .abouts-img { position: relative; width: 95%;}
.shape1 {position: absolute; width: 100%; height: 100%; background: #02427d; right: -25px; bottom: -20px; z-index: -1;}
.learn-more-btn {color: #fff; display: block; width: fit-content; background: #02427d; padding: 16px 24px;font-weight: 600; transition: 0.3s all ease-in-out; border-radius: 10px; border: 1px solid #02427d;}
.learn-more-btn:hover {color: #02427d; background: none;}
.abouts-wrapp .abouts-content .abouts-col1 .abouts-img img { width: 100%; height: 100%; max-height: 485px; object-fit: cover;}

/* ----------------Services-wrapp------------------- */

.service-sec{position: relative; background: url("../images/water.jpg"); padding: 80px 0px; background-size:cover; background-position: center center; background-repeat: no-repeat;}
.service-sec::after{z-index: 2; content: ""; position: absolute; width: 100%; height: 100%; top: 0; left: 0;background-color: #02172b;opacity: 0.7;}
.service-sec .service-con{position: relative; z-index: 10; color: #fff; padding-right: 30px;}
.service-sec .service-con h4{font-size: 25px;font-weight: 500; margin-bottom: 20px;color: #08b7d5; position: relative;}
.service-sec .service-con h4::before{position: absolute;content: "";background-image: url("../images/shape-headline.svg");width: 50px;height: 10px;top: -25px;left: 0; background-repeat: no-repeat;}
.service-sec .service-con h2{font-size: 30px; font-weight: 500; margin-bottom: 20px;}
.service-sec .service-con p{font-size: 16px; line-height: 24px; margin-bottom: 30px;}
.service-sec .service-con a:hover{background-color: #fff; border-color: #fff;}

.service-sec .service-slider{position: relative; z-index: 10;padding:60px 30px;}
.service-sec .service-slider-wrap{background-color:#08b7d5; position: relative; z-index: 10; border-radius: 10px;}
.service-sec .service-slider-wrap .serv-slide-con{background-color: #fff;padding: 60px 20px;border-radius: 10px;}
.service-sec .service-slider-wrap .serv-slide-con h2{ color:#02427d; font-size: 25px; font-weight: 600; margin-bottom: 20px;}
.service-sec .service-slider-wrap .serv-slide-con p{font-size: 16px;font-weight: 400; color: black;line-height: 24px; margin-bottom: 30px;}
.service-sec .service-slider-wrap .serv-slide-con a{color: #fff; display: block; width: fit-content; background: #02427d; padding: 16px 24px;font-weight: 600; transition: 0.3s all ease-in-out; border-radius: 10px; border: 1px solid #02427d;}
.service-sec .service-slider-wrap .serv-slide-con a:hover{color: #02427d; background: none;}
.service-sec .service-slider-wrap .serv-slide-con h2::before{position: absolute;left:20px;top:38px;width:40px;height:6px; border-radius: 6px;
content: "";background-color: #08b7d5;}


/* ----------------whychoose------------------- */

.why-choose-sec{padding: 80px 0px;}
.why-choose-sec .why-choose-wrap{position: relative;}
.why-choose-sec .why-bg img{-webkit-box-shadow: 0px 0px 35px -3px rgba(2,66,125,1);
  -moz-box-shadow: 0px 0px 35px -3px rgba(2,66,125,1);
  box-shadow: 0px 0px 35px -3px rgba(2,66,125,1); border-radius: 20px; height: 600px;}
  .why-choose-sec .choose-sec{background-color: #02325e; border-radius: 20px;}
  .why-choose-sec .why-ch-cont{max-width: 700px;  color: #fff; padding:80px 40px;margin-left: auto;}
  .why-choose-sec .why-ch-cont h4{font-size: 25px;font-weight: 500; margin-bottom: 20px;color: #08b7d5; position: relative;}
  .why-choose-sec .why-ch-cont h4::before{position: absolute;content: "";background-image: url("../images/shape-headline.svg");width: 50px;height: 10px;top: -25px;left: 0; background-repeat: no-repeat;}
  .why-choose-sec .why-ch-cont h2{font-size: 30px; font-weight: 500; margin-bottom: 20px;}
  .why-choose-sec .why-ch-cont .visions{margin-top: 50px;}
  .why-choose-sec .why-ch-cont .visions .vision-1{background-color: #fff; padding: 30px 20px; border-radius: 10px; margin-bottom: 20px;}
  .why-choose-sec .why-ch-cont .visions .vision-1 h3{color: #08b7d5; margin-bottom: 10px; font-weight: 500; font-size: 18px;}
  .why-choose-sec .why-ch-cont .visions .vision-1 p{color: #000000; font-size: 16px; line-height: 24px;}


  /* ----------------testimonials------------------- */

  .testimonials-sec{padding-top: 60px; text-align: center;position: relative;background-color:#02427d;}
  .testimonials-sec::after{z-index: 2; content: ""; position: absolute; width: 100%; height: 100%; top: 0; left: 0;background-color: #02172b;opacity: 0.7;}
  .testimonials-sec .testi-wrap{position: relative; z-index: 10;}
  .testimonials-sec .testi-wrap h4{font-size: 30px;font-weight: 500; margin-bottom: 20px;color: #08b7d5; position: relative;}
  .testimonials-sec .testi-wrap h4::before{position: absolute;content: "";background-image: url("../images/shape-headline.svg");width: 50px;height: 10px;top: -25px;left: 50%; background-repeat: no-repeat;transform:translateX(-50%);}
  .testimonials-sec .testi-wrap h2{font-size: 40px; font-weight: 500; margin-bottom: 20px;color: #ffffff;}
  .testimonials-sec .testiswiper{margin-top: 50px;position: relative;}
  .testimonials-sec .testiswiper::after{position: absolute; content: ""; background: url("../images/left-quote-grey-plain-icon.svg");
  top: -30px; left: 20%; width: 100%; height: 100%; background-repeat: no-repeat;}
  .testimonials-sec .testiswiper::before{position: absolute; content: ""; background: url("../images/right-quote-grey-plain-icon.svg");top: -30px; right: -60%; width: 100%; height: 100%; background-repeat: no-repeat;}
  .testimonials-sec .testiswiper .avathar-img{width: 100px; height: 100px; margin: 20px auto;}
  .testimonials-sec .testiswiper{margin: 50px auto;}
  .testimonials-sec .testiswiper .testi-slider .testi-con{max-width: 700px; margin: 0 auto;}
  .testimonials-sec .testiswiper .testi-con p{font-size: 16px; line-height: 30px; color: #fff;}
  .testimonials-sec .testiswiper .testi-con h3{font-size: 20px; color: #08b7d5; margin:20px 0px; font-weight: 600;}
  .testimonials-sec .testiswiper .swiper-button-next,.testimonials-sec .testiswiper .swiper-button-prev{color: #fff !important;}



/* --------------counter-wrapp------------------- */ 
.counter-wrapp {padding: 70px 0; background: url(../images/AdobeStock_317282137_Preview.jpeg) no-repeat center; background-size: cover; position: relative;}
.counter-wrapp .counter-outer {   width: 100%; display: flex; flex-wrap: wrap; position: relative; z-index: 1;}
.counter-wrapp .counter-outer .counter-box { width: 32%;margin: 0 2% 0 0; text-align: center;}
.counter-wrapp .counter-outer .counter-box:last-child { margin-right: 0;}
.counter-wrapp .counter-outer .counter-box h2.counter { font-size: 60px; font-weight: 600; color: #02325e; display: inline-block; margin: 0 0 16px; position: relative;}
.counter-wrapp .counter-outer .counter-box span.counter-title { display: block; font-size: 34px; font-weight: 600; color: #02325e;}
.counter-wrapp .counter-outer .counter-box h2.counter:after { content: "+"; font-size: 60px; display: inline-block;}
.counter-wrapp:after {content: "";position: absolute;width: 100%;height: 100%;top: 0;left: 0;background: rgb(255 255 255 / 90%);}



/* ------------------inner-banner-------------------- */
.inner-banner {position: relative;height: 250px;display: flex; flex-wrap: wrap; align-items: center;}
.inner-banner .banner-bg {width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.inner-banner .banner-bg img {width: 100%;height: 100%;object-fit: cover;}
.inner-banner:after {content: "";position: absolute; width: 100%; height: 100%;background: rgb(0 0 0 / 30%); top: 0; left: 0;}
.inner-banner .inner-banner-conten {position: relative;z-index: 1;width: 100%;}
.inner-banner .inner-banner-conten h1 {font-size: 60px;font-weight: 600; color: #ffffff;text-align: center;margin: 0 0 17px;}
.inner-banner .inner-banner-conten ul.bread-crumbs {width: 100%;display: inline-block;text-align: center;}
.inner-banner .inner-banner-conten ul.bread-crumbs li {display: inline-block; color: #ffffff;font-size: 18px; font-weight: 600; position: relative;}
.inner-banner .inner-banner-conten ul.bread-crumbs li a {color: #ffffff;}
.inner-banner .inner-banner-conten ul.bread-crumbs li a:hover {color: #02427d;}
.inner-banner .inner-banner-conten ul.bread-crumbs li:after { content: "/"; display: inline-block; font-weight: 600; margin: 0 5px 0 7px;}
.inner-banner .inner-banner-conten ul.bread-crumbs li:last-child:after { display: none;}






/* -------------------service-tabs-wrapp------------------ */
/* .service-tabs-wrapp {padding: 10px 0; border-bottom: 1px solid rgb(8 183 213 / 30%);background: #ffffff; transition: 0.3s all ease-in-out;}
.service-tabs-wrapp.fixed {position: fixed;top: 0;z-index: 1; box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.05);}
.service-tabs-wrapp  ul.service-tabs { width: 100%; text-align: center;}
.service-tabs-wrapp ul.service-tabs li {display: inline-block;}
.service-tabs-wrapp ul.service-tabs li a { padding: 15px 13px; display: block; color: #000;  font-weight: 500; position: relative;}
.service-tabs-wrapp ul.service-tabs li a:hover{color: #02427d;}
.service-tabs-wrapp ul.service-tabs li a.active{color: #02427d;}
.service-tabs-wrapp ul.service-tabs li a:after {content: ""; position: absolute;width: 0;height: 3px;background: #02427d;bottom: 7px; left: 50%; transform: translateX(-50%); transition: all .4s ease-in-out;}
.service-tabs-wrapp ul.service-tabs li a:hover:after{width: 80%;}
.service-tabs-wrapp ul.service-tabs li a.active:after{width: 80%;} */


/* ----------------------services-wrapp------------------------- */
/* .services-wrapp {padding: 70px 0;}
.services-wrapp .services-box {width: 100%; padding: 70px 0;}
.services-wrapp .services-box .services-col1 { width: 43%; }
.services-wrapp .services-box .services-col1 .services-img { position: relative; width: 100%;}
.services-wrapp .services-box .services-col1 .services-img img {width: 100%; height: 100%; max-height: 485px; object-fit: cover;}
.services-wrapp .services-box .services-col2 { width: 48%;}
.services-wrapp .services-box .services-col2 h2 { font-size: 32px; font-weight: 600; color: #02427d; margin: 0 0 20px;}
.services-wrapp .services-box .services-col2 p { font-size: 16px; color: #000000; line-height: 24px; margin: 0 0 15px;}
.services-wrapp .services-box .services-col2 ul li { font-size: 16px; line-height: 24px; margin: 0 0 10px; color: #000;position: relative;padding: 0 0 0 20px;}
.services-wrapp .services-box .services-col2 ul li::before{content: ""; position: absolute;background: url(../images/chevron-right-solid.svg) no-repeat center;width: 8px;height: 11px;background-size: 100%;left: 0;top: 5px; }
.services-wrapp .services-box  .services-row { align-items: center; justify-content: space-between;}
.services-wrapp .services-box:nth-child(even) .services-row { flex-direction: row-reverse;}
.services-wrapp .services-box .services-col1 .services-img .shape3 { display: block; width: 100%;height: 100%;background: #02427d;position: absolute;top: -25px;left: -25px;z-index: -1;}
.services-wrapp .services-box .services-col1 .services-img span.shape2 { display: block; width: 200px; height: 200px;background: #02427d; position: absolute; bottom: -55px; right: -55px; z-index: -1;}*/


/* -------------------services-wrapp----------------- */

.services-wrapp {padding: 115px 0 70px;}
.services-wrapp .services-card { width: 48%;margin: 0 4% 4% 0; padding: 0; position: relative;box-shadow: 4px 5px 5px rgb(0 0 0 / 27%);  overflow: hidden;}
.services-wrapp .services-card:nth-child(2n){margin-right: 0;}
.services-wrapp .services-card .services-img {width: 100%; height: 100%;}
.services-wrapp .services-card .services-img img {width: 100%;height: 100%;object-fit: cover;transition: all 0.25s ease-out 0s;-o-transition: all 0.25s ease-out 0s; -ms-transition: all 0.25s ease-out 0s; -moz-transition: all 0.25s ease-out 0s; -webkit-transition: all 0.25s ease-out 0s;}
.services-wrapp .services-card .services-content {position: absolute;width: 100%; padding: 30px; bottom: 0; left: 0; z-index: 1;}
.services-wrapp .services-card .services-content h2 {font-size: 32px;font-weight: 600;color: #fff; margin: 0 0 20px;}
.services-wrapp .services-card .services-content p {font-size: 16px;line-height: 24px;color: #fff;}
.services-wrapp .services-card:after {content: "";position: absolute;width: 100%;height: 100%;top: 0;left: 0;background: rgb(0 0 0 / 50%);}
.services-wrapp .services-card .services-btn {position: absolute;top: 30px;left: 30px;z-index: 1;}
.services-wrapp .services-card .services-btn a.read-more {display: block; padding: 10px 15px; border: 1px solid #fff; color: #fff; border-radius: 7px;}
.services-wrapp .services-card .services-btn a.read-more:hover {background: #fff; color: #000;}
.services-wrapp .services-card:hover .services-img img { transform: scale(1.08); transition: all 0.25s ease-out 0s;-o-transition: all 0.25s ease-out 0s; -ms-transition: all 0.25s ease-out 0s; -moz-transition: all 0.25s ease-out 0s; -webkit-transition: all 0.25s ease-out 0s; filter: grayscale(100%);}


/* -------------gallery-tabs------------------ */
.gallery-tabs { padding: 70px 0;}
.gallery-tabs ul { width: 100%; text-align: center;}
.gallery-tabs ul li { display: inline-block; margin: 0 10px;}
.gallery-tabs ul li a { font-size: 18px; color: #000; font-weight: 600; display: block; cursor: pointer;}
.gallery-tabs ul li a:hover { color: #02427d;}
.gallery-tabs ul li a.active {border-bottom: 3px solid #02427d; color: #02427d;}
.gallery-tabs .gallery-wrapp {padding: 70px 0 0;}
.gallery-tabs .gallery-wrapp .gallerin { width: 100%; display: flex; flex-wrap: wrap;}
.gallery-tabs .gallery-wrapp .gallerin .gallery-box { width: 23.5%; margin: 0 2% 2% 0;overflow: hidden; height: 206px;}
.gallery-tabs .gallery-wrapp .gallerin .gallery-box:nth-child(4n) { margin-right: 0;}
.gallery-tabs .gallery-wrapp .gallerin .gallery-box .gallery-bar1 {width: 100%;height: 100%;position: relative;}
.gallery-tabs .gallery-wrapp .gallerin .gallery-box .gallery-bar1 img {height: 100%; width: 100%;object-fit: cover; transition: all 0.25s ease-out 0s; -o-transition: all 0.25s ease-out 0s; -ms-transition: all 0.25s ease-out 0s; -moz-transition: all 0.25s ease-out 0s; -webkit-transition: all 0.25s ease-out 0s;}
.gallery-tabs .gallery-wrapp .gallerin .gallery-box .gallery-bar1:hover img {transform: scale(1.08); transition: all 0.25s ease-out 0s; -o-transition: all 0.25s ease-out 0s; -ms-transition: all 0.25s ease-out 0s; -moz-transition: all 0.25s ease-out 0s; -webkit-transition: all 0.25s ease-out 0s; filter: grayscale(100%);}
div#html5lightbox-watermark { display: none !important;}
.html5-elem-data-box { display: none !important;}
div#html5box-html5-lightbox-nav {display: none !important;}
.html5-prev, .html5-next{display: block !important;}
.html5-prev-outside .mh-icon-left, .html5-next-outside .mh-icon-right, .html5-prev-fullscreen .mh-icon-left, .html5-next-fullscreen .mh-icon-right{background: none !important;}


/* -------------------footer-sec--------------------- */
.footer-sec{position: relative; background: url("../images/water.jpg"); padding: 80px 0px; background-size:cover; background-position: center center; background-repeat: no-repeat; padding-bottom:0px;}
.footer-sec::after{z-index: 2; content: ""; position: absolute; width: 100%; height: 100%; top: 0; left: 0;background-color: #02172b;opacity: 0.9;}

.footer-sec .footer-wrap{position: relative;z-index: 10; padding-bottom: 20px; border-bottom: 1px solid #08b7d5;}
.footer-sec .footer-wrap .f-1-text h3{font-size: 20px; font-weight: 600;color: #08b7d5; margin-bottom: 20px;}
.footer-sec .footer-wrap .f-1-text p{font-size: 17px;color: #ffffff; font-weight: 400; margin-bottom: 30px; line-height: 24px;}
.footer-sec .footer-wrap .main-social-footer a{font-size: 18px; color: #fff; display: block; padding: 10px; transition: 0.3s all ease-in-out;}

.footer-sec .footer-wrap .main-social-footer a:hover{color: #02325e;}
.footer-sec .footer-wrap .main-social-footer ul{display:flex;}
.footer-sec .footer-wrap .main-social-footer ul li{width: 40px; height: 40px; background-color: #08b7d5; margin-right: 20px; display: flex; align-items: center; justify-content: center; border-radius: 50%;}




.footer-sec .footer-wrap .news-letter h4{font-size: 20px; font-weight: 600; color: #08b7d5; margin-bottom: 20px;}
.footer-sec .footer-wrap .news-letter p{font-size: 17px;color: #ffffff; font-weight: 400; margin-bottom: 30px; line-height: 24px;}
.footer-sec .footer-wrap .news-letter .search-container button{color: #ffffff; padding:11px;background:#08b7d5;font-size: 16px;border: none;cursor: pointer; margin-left: -5px;}
.footer-sec .footer-wrap .news-letter .search-container button:hover {background:#08b7d5;}
.footer-sec .footer-wrap .news-letter .search-container input[type=text] {width: 200px; padding:10px 6px;font-size: 16px; background-color: transparent; border: 1px solid #08b7d5; color:#fff;}



.footer-sec .footer-wrap .quick-link{padding-left: 30px;}
.footer-sec .footer-wrap .quick-link h4{font-size: 20px; font-weight: 600; color: #08b7d5; margin-bottom: 20px;}
.footer-sec .footer-wrap .quick-link ul li{margin-bottom: 15px;}
.footer-sec .footer-wrap .quick-link ul li a{text-decoration: none; color: #fff; font-size: 16px; transition: 0.3s all ease-in-out;}
.footer-sec .footer-wrap .quick-link ul li a:hover{color: #08b7d5;}


.footer-sec .footer-wrap .services h4{font-size: 20px; font-weight: 600; color: #08b7d5; margin-bottom: 20px;}
.footer-sec .footer-wrap .services ul li{margin-bottom: 15px;}
.footer-sec .footer-wrap .services ul li a{text-decoration: none; color: #fff; font-size: 16px; transition: 0.3s all ease-in-out;}
.footer-sec .footer-wrap .services ul li a:hover{color: #08b7d5;}


.footer-sec .bt-footer{color: #fff; position: relative; z-index: 10;padding: 30px 0px;}
.footer-sec .bt-footer .com-link{text-align: right; }
.footer-sec .bt-footer .com-link a{color: #08b7d5;}



/* -------------service-inner---------- */
.service-inner-wrapp { padding: 80px 0 70px;}
.service-inner-wrapp .service-inner-row {width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; margin: 0 0 48px;}
.service-inner-wrapp .service-inner-row .service-inner-img {width: 100%;max-height: 450px;overflow: hidden;}
.service-inner-wrapp .service-inner-row .service-inner-col1 {width: 44%;}
.service-inner-wrapp .service-inner-row .service-inner-img img { width: 100%; height: 100%; object-fit: cover;}
.service-inner-wrapp .service-inner-row .service-inner-col2 { width: 48%;}
.service-inner-wrapp .service-inner-row p { font-size: 16px; line-height: 24px; margin: 0 0 20px;}
.service-inner-wrapp .service-inner-row h2 {font-size: 32px; font-weight: 600; color: #02427d; margin: 0 0 20px;}
.service-inner-wrapp .service-inner-row h3 { font-size: 25px; font-weight: 500;margin-bottom: 20px;color: #02427d;position: relative;}
.service-inner-wrapp .service-inner-row h4 { font-size: 25px; font-weight: 500;margin-bottom: 20px;color: #08b7d5;position: relative;}
.service-inner-wrapp .service-inner-row h4:before {position: absolute; content: ""; background-image: url(../images/shape-headline.svg); width: 50px; height: 10px; top: -25px; left: 0; background-repeat: no-repeat;}



/* ---------------youtube-slider-wrapp----------------- */
.youtube-slider-wrapp { padding: 70px 0 90px;}
.youtube-slider-wrapp .videoSwiper { width: 100%; padding-bottom: 40px;}
.youtube-slider-wrapp .videoSwiper .youtube-video-box {position: relative;}
.youtube-slider-wrapp .swiper-pagination {top: inherit !important; bottom: 0 !important;}
